body{
     text-align: center;
}
.div_container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(190, 49, 49);
}
.orange{
    background-color: rgb(224, 162, 47);   
}
.green{
    background-color: rgb(20, 131, 20);
}
.purple{
    background-color: purple;
}
.btn{
    height: 200px;
    width: 200px;
    border:10px solid black;
    margin: 2.5rem;
    border-radius: 20%;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: greenyellow;
}
